* {
    box-sizing: border-box;
}

.layout {
    width: 231px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.layout h1 {
    font-size: 43px;
}

.datepicker-wrapper,
.timepicker-wrapper{
    margin-top: 20px;
}

.ant-calendar-picker-input {
    visibility: hidden;
    width: 231px;
}
