* {
    box-sizing: border-box;
}

.layout {
    width: 231px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.layout h1 {
    font-size: 43px;
}

.datepicker-wrapper,
.timepicker-wrapper{
    margin-top: 20px;
}

.ant-calendar-picker-input {
    visibility: hidden;
    width: 231px;
}

.layout .ant-calendar-picker-icon {
    margin-top: -24px;
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    right: 8px;
    top: 50%;
    line-height: 14px;
    font-size: 14px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ant-calendar-input-wrap {
    display: none;
}

.date-picker {
    position: relative;
    width: 231px;
}

.date-picker .date-calendar {
    position: absolute;
    left: 0;
    top: 30px;
    width: 231px;
    height: 1px;
}

.layout .date-picker .date-input-filled:hover .ant-select-selection__clear {
    opacity: 1;
}

.layout .date-picker .ant-select-selection__clear {
    position: absolute;
    right: 30px;
    top: 14px;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.layout .ant-calendar-picker {
    width: 100%;
}

.layout .ant-calendar-picker > div {
    height: 0;
}

.ant-time-picker-panel-input-wrap {
    display: none;
}

.ant-time-picker-panel .ant-time-picker-panel-inner {
    left: 1px;
}

.time-picker {
    position: relative;
    width: 112px;
}

.layout .time-picker .ant-time-picker-input {
    visibility: hidden;
    width: 112px;
}

.layout .time-picker .ant-time-picker {
    height: 1px;
}

.layout .time-picker .time-options {
    position: absolute;
}

.layout .time-picker .ant-select-selection__clear {
    position: absolute;
    top: 14px;
    right: 27px;
    cursor: auto;
}

.layout .time-picker .time-input-filled:hover .ant-select-selection__clear {
    opacity: 1;
    cursor: pointer;
}

.ant-input {
    height: 32px;
}
