.date-picker .ant-calendar-picker-input {
    visibility: hidden;
}

.date-picker .ant-calendar-input-wrap {
    display: none;
}

.date-picker {
    position: relative;
    width: 231px;
}

.date-picker .date-calendar {
    position: absolute;
    left: 0;
    height: 1px;
    width: 231px;
}

.date-picker .date-input-filled:hover .date-input-clear {
    cursor: pointer;
    opacity: 1;
}

.date-picker .date-input-clear {
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s ease;
    right: 29px;
    cursor: auto;
}

.date-picker .ant-calendar-picker {
    width: 100%;
}

.date-picker .ant-calendar-picker > div {
    height: 0;
}

.ant-time-picker-panel-input-wrap {
    display: none;
}

.ant-time-picker-panel .ant-time-picker-panel-inner {
    left: 1px;
}

.time-picker {
    position: relative;
    width: 112px;
}

.time-picker .ant-time-picker-input {
    visibility: hidden;
    width: 112px;
}

.time-picker .ant-time-picker {
    height: 0;
}

.time-picker .ant-time-picker-icon {
    cursor: pointer;
    margin-top: -23px;
    right: 24px;
}

.time-picker .time-options {
    position: absolute;
}

.time-picker .time-input-clear {
    position: absolute;
    cursor: auto;
    right: 29px;
}

.time-picker .time-input-filled:hover .time-input-clear {
    opacity: 1;
    cursor: pointer;
}

.date-picker .date-calendar .ant-calendar-picker-icon {
    cursor: pointer;
    margin-top: -21px;
}

.date-picker .date-calendar .ant-calendar-picker-clear {
    opacity: 0 !important;
}

.time-picker .ant-time-picker-input {
    height: 0;
}

.disabled-input * {
    cursor: not-allowed !important;
}

.disabled-input input {
    pointer-events: none;
    user-select: none;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.4);
}

.disabled-input .date-input-clear,
.disabled-input .time-input-clear{
    display: none;
}
