.date-picker .ant-calendar-picker-input {
    visibility: hidden;
}

.date-picker .ant-calendar-input-wrap {
    display: none;
}

.date-picker {
    position: relative;
    width: 231px;
    line-height: 32px;
}

.date-picker .date-calendar {
    position: static;
    left: 0;
    height: 0px;
    top: 6px;
    width: 231px;
}

.date-picker .date-calendar .ant-picker {
    height: 32px;
    width: 23px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.date-picker .date-calendar .ant-picker:hover,
.date-picker .date-calendar .ant-picker.ant-picker-focused {
    border-color: #d9d9d9;
}

.date-picker .date-calendar .ant-picker .ant-picker-input {
    width: 100%;
}

.date-picker .date-calendar .ant-picker .ant-picker-input input {
    display: none;
}

.date-picker .date-calendar .ant-picker .ant-picker-input .ant-picker-clear,
.date-picker .date-calendar .ant-picker .ant-picker-input .ant-picker-suffix {
    pointer-events: initial;
    cursor: pointer;
}

.date-picker .date-calendar .ant-picker .ant-picker-input .ant-picker-clear {
    right: 5px;
}

.ant-picker-dropdown {
    width: 231px;
}

.ant-picker-dropdown .ant-picker-panel-container {
    transform: translateX(-208px);
}

.ant-picker-dropdown .ant-picker-panel-container .ant-picker-content {
    width: 231px;
}

.ant-picker-dropdown .ant-picker-panel-container .ant-picker-content thead tr th {
    width: 32px;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
    padding: 0;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-header {
    width: 231px;
}

.time-picker {
    position: relative;
    width: 112px;
}

.time-picker .ant-time-picker-input {
    visibility: hidden;
    width: 112px;
}

.time-picker .time-options {
    position: static;
    top: 6px;
    height: 0;
}

.time-picker .time-options .ant-picker {
    padding: 0;
    height: 32px;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
}

.time-picker .time-options .ant-picker .ant-picker-input input {
    display: none;
}

.time-picker .time-options .ant-picker .ant-picker-input .ant-picker-suffix {
    pointer-events: initial;
    cursor: pointer;
}

.time-picker .time-options .ant-picker .ant-picker-input .ant-picker-clear {
    right: 6px;
}

.time-picker-popup {
    width: 112px;
}

.time-picker-popup .ant-picker-panel-container {
    transform: translateX(-88px);
}

.time-picker-popup .ant-picker-panel-container .ant-picker-content {
    width: 112px;
}

.time-picker-popup .ant-picker-panel-container .ant-picker-panel .ant-picker-time-panel {
    padding: 0;
}

.time-picker-popup .ant-picker-panel-container .ant-picker-panel .ant-picker-footer {
    display: none;
}

.disabled-input * {
    cursor: not-allowed !important;
}

.disabled-input input {
    pointer-events: none;
    user-select: none;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.4);
}

.disabled-input .date-input-clear,
.disabled-input .time-input-clear,
.disabled-input .ant-picker-clear {
    display: none;
}
